schema/schema.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="point">
		<xsd:sequence>
			<xsd:element name="lon" type="xsd:decimal"/>
			<xsd:element name="lat" type="xsd:decimal"/>
			<xsd:element name="address" type="address" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="address">
		<xsd:sequence>
			<xsd:element name="street" type="xsd:string" minOccurs="0"/>
			<xsd:element name="streetnumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="city" type="xsd:string" minOccurs="0"/>
			<xsd:element name="zipcode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="country" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="track">
		<xsd:complexType>
    	<xsd:sequence>
    		<xsd:element name="name" type="xsd:string" minOccurs="0"/>
    		<xsd:element name="length" type="xsd:positiveInteger" minOccurs="0"/>
    		<xsd:element name="createTimestamp" type="xsd:dateTime"/>
    		<xsd:element name="author" type="xsd:string"/>
    		<xsd:element name="description" type="xsd:string" minOccurs="0"/>
    		<xsd:element name="motionType" type="xsd:string"/>
    		<xsd:element name="trackType">
    			<xsd:simpleType>
					  <xsd:restriction base="xsd:string">
					    <xsd:enumeration value="Round Trip"/>
					    <xsd:enumeration value="One Way Trip"/>
					  </xsd:restriction>
					</xsd:simpleType>
    		</xsd:element>
    		<xsd:element name="quality">
    			<xsd:simpleType>
    				<xsd:restriction base="xsd:integer">
    					<xsd:minInclusive value="0"/>
    					<xsd:maxInclusive value="5"/>
    				</xsd:restriction>
    			</xsd:simpleType>
    		</xsd:element>
    		<xsd:element name="points">
    			<xsd:complexType>
    				<xsd:sequence>
    					<xsd:element name="point" type="point" maxOccurs="unbounded"/>
    				</xsd:sequence>
    			</xsd:complexType>
    		</xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
	</xsd:element>

	<xsd:element name="poi">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:element name="position" type="point"/>
				<xsd:element name="type" type="xsd:string"/>
				<xsd:element name="beginTimestamp" type="xsd:dateTime"/>
				<xsd:element name="endTimestamp" type="xsd:dateTime"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>